<div class="container" *ngIf="teams && games">

  <div class="m-3"></div>

  <app-team-skills></app-team-skills>

  <div class="m-3"></div>

  <div class="card">
    <div class="card-header">
      <strong>{{ teams.length }}</strong> teams played <strong>{{ games.length }}</strong> games
    </div>
    <table class="table table-sm">
      <tr>
        <th>Team</th>
        <th>Games</th>
        <th [ngStyle]="{'min-width': '200px'}">Won - Lost</th>
      </tr>
      <tr *ngFor="let team of teams">
        <td>
          {{ team.displayName() }}
        </td>
        <td>
          {{ getGamesForTeam(team.id).length }}
        </td>
        <td>
          <div class="progress" [ngStyle]="{'height': '20px'}">
            <div class="progress-bar bg-success" role="progressbar"
                 [ngStyle]="{'width': getPercentageWonForTeam(team.id) + '%' }">
              {{ getGamesWonForTeam(team.id).length }}
            </div>
            <div class="progress-bar bg-danger" role="progressbar"
                 [ngStyle]="{'width': getPercentageLostForTeam(team.id) + '%' }">
              {{ getGamesLostForTeam(team.id).length }}
            </div>
          </div>
        </td>
      </tr>
    </table>
  </div>


</div>
